*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Comfortaa';
    background: #f2f2f2 url('../assets/bg.jpg');
    background-size: cover;
    background-attachment: fixed;
}

.container{
    margin: auto;
    width: 90%;
    max-width: 1000px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; /* hace que las columnas se hagan en la siguiente fula cuando no cabe en la fila de arriba */
}

header{
    width: 100%;
    padding: 50px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}

header .logo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}

header .logo img{
    width: 50px;
}

header .logo h2{
    color: #2ABEA4;
}

header .menu a{
    color: #fff;
    text-decoration: none ;
    margin-right: 40px;
    font-size: 18px;
}

header .menu a:hover{
    color: rgb(4, 226, 171);
    text-decoration: underline;
}

.main{
    background: #fff;
    padding: 20px;
    width: 70%;
}

.main article .thumb{
    margin-bottom: 20px;
}

.main article .thumb img{
    width: 100%;
    vertical-align: top;
}

.main article h2{
    margin-bottom: 20px;
    font-weight: normal;
    font-size: 32px;
}

.main article p{
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 20px;
}


aside{
    width: 30%;
    background: #563864;
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around ;
}

aside .ad{
    font-size: 30px;
    text-align: center;
    color: #fff;
    padding: 50px 0;
    background: #3c2049;
    /* margin-bottom: 20px; */
}

footer{
    margin: 20px 0;
    background: rgba(255, 255, 255, .2);
    color: #fff;
    padding: 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .socialmedia a{
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
}

footer .socialmedia a:hover{
    color: #232323;
}

/* Media Queris */

@media screen and (max-width: 800px){
    .main{
        width: 100%;
    }

    aside{
        width: 100%;
        flex-direction: row;
    }

    aside .ad{
        width: 40%;
    }
}

@media screen and (max-width: 600px) {

    header{
        flex-direction: column;
        padding-bottom: 30px;
    }

    header .menu{
        width: 100%;
        background: rgba(255, 255, 255, .2);
        text-align: center;
        padding: 20px;
    }

    header .menu a{
        margin: 0 20px;
    }

    header .logo{
        margin-bottom: 20px;
        width: 100%;
        justify-content: center;
    }

    footer{
        flex-direction: column;
        text-align: center;
    }

    footer .author{
        order: 2;
    }

    footer .socialmedia{
        order: 1;
        margin-bottom: 20px;
    }
    
}

@media screen and (max-width: 400px) {

    aside{
        display: none;
    }
    
}